[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	sb = show-branch
	st = stash
[user]
  name = tokanao
  email = ggtoka@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
